doc/wsdl/SefrakInfoOppdateringServiceWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" xmlns:ns2="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" xmlns:ns3="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kulturminne/oppdatering" elementFormDefault="qualified" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kulturminne/oppdatering" version="1.0">

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>

  <xs:element name="opprettSefrakInfo" type="tns:opprettSefrakInfo"/>

  <xs:element name="opprettSefrakInfoResponse" type="tns:opprettSefrakInfoResponse"/>

  <xs:complexType name="opprettSefrakInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="sefrakDTO" type="ns1:SefrakDTO"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="opprettSefrakInfoResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>